@import url(https://fonts.googleapis.com/css?family=Miriam+Libre:400,700|Roboto:300,500|Overpass+Mono:300);@charset "UTF-8";
.comp-form {
  overflow-x: hidden; }
  .comp-form #logo {
    position: fixed;
    z-index: 1000;
    top: 16px;
    left: 18px;
    cursor: pointer; }
  .comp-form #top-nav {
    position: relative;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 12px;
    color: #505050;
    letter-spacing: 0.23px;
    padding-top: 20px; }
    .comp-form #top-nav::before {
      position: absolute;
      background: #F4F3F1;
      top: 0;
      bottom: 0;
      left: -50vw;
      right: -50vw;
      z-index: -100;
      content: ""; }
    .comp-form #top-nav .buttons {
      float: right; }
    .comp-form #top-nav .previous {
      margin-right: 5em; }
    .comp-form #top-nav .previous i {
      margin-right: 7px; }
    .comp-form #top-nav .next i {
      margin-left: 7px; }
  .comp-form #hero {
    position: relative;
    padding-bottom: 133px; }
    .comp-form #hero::before {
      position: absolute;
      background: #F4F3F1;
      top: 0;
      bottom: 0;
      left: -50vw;
      right: -50vw;
      z-index: -100;
      content: ""; }
    .comp-form #hero h1 {
      font-family: 'Miriam Libre';
      font-weight: bold;
      font-size: 36px;
      color: #505050;
      letter-spacing: 0.56px;
      text-transform: uppercase;
      margin-top: 180px; }
    .comp-form #hero h6 {
      font-family: "Miriam Libre";
      font-weight: bold;
      font-size: 10px;
      color: #505050;
      letter-spacing: 0.04px;
      margin-top: 50px;
      padding-bottom: 3px;
      border-bottom: 1px solid #CCC; }
    .comp-form #hero .description {
      font-family: "Miriam Libre";
      font-weight: bold;
      font-size: 30px;
      color: #505050;
      letter-spacing: 0.31px;
      line-height: 54px;
      margin-top: 32px;
      margin-bottom: 80px; }
    .comp-form #hero .software {
      font-family: 'Miriam Libre';
      font-weight: light;
      font-size: 24px;
      color: #505050;
      letter-spacing: 0.31px;
      line-height: 54px; }
  .comp-form #scroll-out {
    height: 80vh; }

.band {
  border: 1px solid red; }

.debug .container {
  outline: 1px dotted #0af; }

.debug div[class^="col-"] {
  outline: 1px dotted #f55; }

.debug:before {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  background: #0af;
  color: white;
  padding: 3px;
  font-size: 8px; }
  @media (min-width: null) {
    .debug:before {
      content: "xs"; } }
  @media (min-width: 576px) {
    .debug:before {
      content: "sm"; } }
  @media (min-width: 768px) {
    .debug:before {
      content: "md"; } }
  @media (min-width: 992px) {
    .debug:before {
      content: "lg"; } }
  @media (min-width: 1200px) {
    .debug:before {
      content: "xl"; } }

.debug #scroll-out {
  background: rgba(0, 170, 255, 0.1); }

.bad .content .wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.bad .content .topic-text {
  width: 100%;
  padding: 0 20% 10px 16%; }

.bad .content h2 {
  font-family: "Miriam Libre";
  font-weight: bold;
  font-size: 25px;
  color: #505050;
  letter-spacing: 0.31px;
  margin-top: 100px;
  margin-bottom: 24px; }

.bad .content h2:first-child {
  margin-top: 0; }

.bad .content h2 span {
  padding-left: 56px; }

.bad .content h3 {
  font-family: 'Miriam Libre';
  font-size: 24px;
  color: #505050;
  letter-spacing: 0.31px;
  line-height: 25px;
  margin-top: 52px;
  margin-bottom: 15px; }

.bad .content h3.first {
  margin-top: 0px; }

.bad .content h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  color: #505050;
  letter-spacing: 0.31px;
  line-height: 25px;
  margin-top: 45px; }

.bad .content h5 {
  font-family: "Miriam Libre";
  font-weight: bold;
  font-size: 10px;
  color: #505050;
  letter-spacing: 2.41px;
  text-transform: uppercase; }

.bad .content h7 {
  font-family: 'Miriam Libre';
  font-size: 24px;
  color: #505050;
  letter-spacing: 0.31px;
  line-height: 54px; }

.bad .content p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: black;
  letter-spacing: 0.31px;
  line-height: 25px;
  margin-bottom: 10px; }

.bad .content code {
  font-family: 'Overpass Mono', monospace;
  font-size: 15px;
  color: #505050;
  letter-spacing: 0.31px;
  line-height: 25px;
  background-color: #F4F3F1; }

.bad .content pre {
  display: block;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word; }

.bad .content pre code {
  border: 1px solid #D8D8D8;
  border-radius: 0;
  padding: 0;
  white-space: pre-wrap;
  background-color: transparent;
  display: block;
  overflow-x: auto;
  background: #F8F8F8;
  padding: 0.5em;
  margin-top: 20px; }

.bad .content .slideshow {
  width: 95vw;
  margin: 50px 2.5vw 0 2.5vw;
  position: relative;
  right: 25%;
  background-color: #F4F3F1;
  /*height:485px;*/
  height: 80vh; }

.bad .content .activity,
.bad .content .assignment {
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  background-color: #F4F3F1;
  margin-top: 90px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 110vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

.bad .content .activity h1,
.bad .content .activity h2,
.bad .content .activity p,
.bad .content .activity ul,
.bad .content .activity ol,
.bad .content .assignment h1,
.bad .content .assignment h2,
.bad .content .assignment p,
.bad .content .assignment ul,
.bad .content .assignment ol {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  right: 96px; }

.bad .content .activity h1::before {
  content: "Activity"; }

.bad .content .activity p,
.bad .content .activity ol,
.bad .content .activity ul {
  font-family: "Miriam Libre";
  font-weight: bold;
  font-size: 17px;
  color: #505050;
  letter-spacing: 0.31px;
  line-height: 25px; }

.bad .content .assignment h1::before {
  content: "Assignment"; }

.bad .content .assignment h2:first-of-type + p {
  font-family: 'Miriam Libre';
  font-size: 20px;
  color: #505050;
  letter-spacing: 0.31px;
  line-height: 32px; }

.bad .content .activity h1,
.bad .content .assignment h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #505050;
  font-family: "Miriam Libre";
  font-weight: bold;
  font-size: 26px;
  color: #505050;
  letter-spacing: 0.37px;
  text-transform: none; }

.bad .content .activity h1::before,
.bad .content .assignment h1::before {
  display: block;
  text-align: center;
  font-family: "Miriam Libre";
  font-weight: bold;
  font-size: 10px;
  color: #505050;
  letter-spacing: 2.41px;
  text-transform: uppercase;
  margin-bottom: 25px; }

.bad .content .activity h1 + p:first-of-type,
.bad .content .assignment h1 + p:first-of-type {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 65px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.31px;
  line-height: 20px; }

.bad .content .activity h2,
.bad .content .assignment h2 {
  font-family: "Miriam Libre";
  font-weight: bold;
  font-size: 10px;
  color: #505050;
  letter-spacing: 0.04px;
  margin-top: 65px;
  margin-bottom: 18px;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 0.5px solid #979797; }

.bad .content .activity img,
.bad .content .assignment img {
  height: auto;
  width: 100%; }

.bad .content ul {
  list-style-type: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: black;
  letter-spacing: 0.31px;
  line-height: 25px; }

.bad .content li {
  margin-bottom: 10px; }

.bad .content ul li:before {
  content: ".";
  position: relative;
  top: -0.1em;
  font-size: 40px;
  line-height: 0;
  right: 30px; }

.bad dl {
  background-color: #F4F3F1;
  position: relative;
  left: -20px;
  padding: 20px;
  margin-top: 45px;
  width: 108%; }

.bad dl dt {
  font-family: 'Miriam Libre';
  font-size: 20px;
  color: #505050;
  letter-spacing: 0.31px;
  line-height: 25px;
  display: inline-block; }

.bad dl dd {
  display: inline;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: black;
  letter-spacing: 0.31px;
  line-height: 25px;
  margin-bottom: 10px; }

@media only screen and (max-width: 900px) {
  .bad .menu-dropdown ul li {
    width: 50%; }
  .bad .topic-section .topic-text {
    padding: 0 50px 10px 40px; }
  .bad .topic-section .slideshow {
    margin: inherit;
    position: inherit;
    right: inherit;
    width: 100%; } }

@media only screen and (max-width: 670px) {
  .bad .menu-dropdown .col-first {
    width: 70%;
    margin-bottom: 25px; }
  .bad .menu-dropdown .chapters {
    width: 100%; } }

@media only screen and (max-width: 500px) {
  .bad .menu-dropdown ul li {
    width: 100%; }
  .bad .menu-dropdown .col-first {
    width: 85%; }
  .bad .topic-section .topic-text {
    padding: 0 20px 10px 20px; } }

.comp-form-copy {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.31px;
  line-height: 25px;
  /* headers */
  counter-reset: h2s;
  /* blocks */
  /* paragraphs */
  /* blockquote */
  /* code */
  /* ul, ol */
  /* dl */
  /* hr */
  /* links */
  /* images */ }
  .comp-form-copy h2 {
    font-family: "Miriam Libre";
    font-weight: bold;
    font-size: 25px;
    color: #505050;
    letter-spacing: 0.31px;
    margin-top: 100px;
    margin-bottom: 24px; }
  .comp-form-copy > h2::before {
    counter-increment: h2s;
    content: counter(h2s, decimal-leading-zero);
    padding-right: 2em; }
  .comp-form-copy h3 {
    font-family: 'Miriam Libre';
    font-size: 24px;
    color: #505050;
    letter-spacing: 0.31px;
    line-height: 25px;
    margin-top: 52px;
    margin-bottom: 15px; }
  .comp-form-copy h4,
  .comp-form-copy h5,
  .comp-form-copy h6 {
    margin-top: 45px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.31px;
    line-height: 25px;
    color: #505050; }
  .comp-form-copy p {
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.31px;
    line-height: 25px; }
  .comp-form-copy blockquote {
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.31px;
    line-height: 25px;
    margin-left: 15px;
    position: relative; }
  .comp-form-copy blockquote::before {
    content: "";
    background: #CCC;
    width: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    border-radius: 3px; }
  .comp-form-copy .attrib {
    font-style: italic; }
  .comp-form-copy .attrib::before {
    content: "\2014"; }
  .comp-form-copy code {
    font-family: 'Overpass Mono', monospace;
    color: #000;
    background-color: #F4F3F1;
    border-radius: 0; }
  .comp-form-copy pre {
    margin-left: -15px;
    margin-right: -15px;
    /* border: 1px solid $middle-grey; */
    background-color: #F4F3F1;
    padding: 15px;
    overflow-x: auto; }
  .comp-form-copy pre code {
    line-height: 1.5;
    padding: 0;
    overflow-x: visible; }
  .comp-form-copy ul,
  .comp-form-copy ol {
    list-style-type: none;
    padding-left: 50px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.31px;
    line-height: 25px;
    color: black; }
  .comp-form-copy ul > li,
  .comp-form-copy ol > li {
    margin-bottom: 10px; }
    .debug .comp-form-copy ul > li, .debug
    .comp-form-copy ol > li {
      background-color: rgba(255, 85, 85, 0.1); }
  .comp-form-copy ul > li:before,
  .comp-form-copy ol > li:before {
    position: absolute;
    margin-left: -50px;
    margin-right: 30px;
    width: 30px;
    text-align: right; }
    .debug .comp-form-copy ul > li:before, .debug
    .comp-form-copy ol > li:before {
      background-color: rgba(255, 85, 85, 0.1); }
  .comp-form-copy ul > li:before {
    content: "\2022"; }
  .comp-form-copy ol {
    counter-reset: ollis; }
  .comp-form-copy ol > li::before {
    counter-increment: ollis;
    content: counter(ollis, decimal-leading-zero); }
  .comp-form-copy dl > dt {
    font-weight: 400; }
  .comp-form-copy dl > dd {
    margin-bottom: 15px; }
  .comp-form-copy hr {
    border-top: 1px solid #CCC; }
  .comp-form-copy a, .comp-form-copy a:hover {
    color: inherit;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    text-decoration: none; }
  .comp-form-copy a:hover {
    background-color: #F4F3F1; }
  .comp-form-copy img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px; }
  .comp-form-copy .scale img {
    width: 100%; }
  .comp-form-copy .pixel img {
    image-rendering: pixelated; }
  .comp-form-copy .two-up:after {
    content: "";
    display: table;
    clear: both; }
  .comp-form-copy .two-up img {
    width: calc(50% - 5px);
    float: left; }
  .comp-form-copy .two-up img:nth-child(2n - 1) {
    margin-right: 10px; }
  .comp-form-copy .three-up:after {
    content: "";
    display: table;
    clear: both; }
  .comp-form-copy .three-up img {
    width: calc((100% - 20px) / 3);
    float: left; }
  .comp-form-copy .three-up img:nth-child(3n - 2),
  .comp-form-copy .three-up img:nth-child(3n - 1) {
    margin-right: 10px; }

.comp-form-copy {
  /* util */
  /* half */
  /* callout */
  /* activity */ }
  .comp-form-copy .no-margin {
    margin-left: -15px;
    margin-right: -15px; }
  @media (min-width: 768px) {
    .comp-form-copy .full-width {
      margin-left: calc( (100% + 15px * 2) / -8 * 2 - 15px);
      margin-right: calc( (100% + 15px * 2) / -8 * 2 - 15px); } }
  .comp-form-copy .clear {
    clear: both; }
  .comp-form-copy .half {
    box-sizing: border-box;
    width: calc((100% - 15px)/2);
    display: block;
    float: left;
    margin-right: 15px; }
  .comp-form-copy .half + .half {
    margin-right: 0; }
  .comp-form-copy .half + .half + * {
    clear: both; }
  .comp-form-copy .callout {
    padding: 15px;
    background: #F4F3F1;
    margin-bottom: 10px; }
  .comp-form-copy .callout:not(.full-width) {
    margin-left: -15px;
    margin-right: -15px; }
  .comp-form-copy .callout *:last-child {
    margin-bottom: 0; }
  .comp-form-copy .activity {
    position: relative;
    margin-top: 90px;
    padding-top: 50px;
    padding-bottom: 50px; }
    .comp-form-copy .activity::before {
      position: absolute;
      background: #F4F3F1;
      top: 0;
      bottom: 0;
      left: -50vw;
      right: -50vw;
      z-index: -100;
      content: "";
      border-top: 1px solid #CCC;
      border-bottom: 1px solid #CCC; }
    .comp-form-copy .activity:after {
      content: "";
      display: table;
      clear: both; }
    .comp-form-copy .activity > h2:first-child {
      margin-top: 0;
      text-align: center;
      color: #505050;
      font-family: "Miriam Libre";
      font-weight: bold;
      font-size: 26px;
      letter-spacing: 0.37px;
      text-transform: none; }
    .comp-form-copy .activity > h2:first-child::before {
      content: "activity";
      display: block;
      margin-bottom: 25px;
      font-size: 10px;
      letter-spacing: 2.41px;
      text-transform: uppercase; }
    .comp-form-copy .activity > h2:first-child + p {
      text-align: center;
      width: 300px;
      margin: 0 auto;
      margin-bottom: 65px;
      font-family: "Roboto";
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 0.31px;
      line-height: 20px; }

div.js-lab {
  height: 500px;
  outline: 1px solid gray; }
  @media (min-width: 768px) {
    div.js-lab {
      margin-left: calc( (100% + 15px * 2) / -8 * 2 - 15px);
      margin-right: calc( (100% + 15px * 2) / -8 * 2 - 15px); } }

iframe.js-lab {
  border: none;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=styles.css.map*/