@charset "UTF-8";
body.comp-form {
  display: flex;
  flex-wrap: wrap; }
  body.comp-form .side-bar {
    display: none; }
    @media (min-width: 992px) {
      body.comp-form .side-bar {
        display: block; } }
  body.comp-form .container {
    flex: 1; }

body.comp-form .side-bar {
  width: 50px;
  border-left: 5px solid white;
  border-right: 5px solid white;
  background-color: #333; }

.left,
.right {
  z-index: -1;
  visibility: hidden; }
  .debug .left, .debug
  .right {
    visibility: visible; }

body.comp-form .container .header {
  height: 50px;
  border-bottom: 4px solid #5376F5; }

.row.scroll-out {
  height: 1000px; }

.debug .content {
  background: rgba(0, 0, 0, 0.05); }

body.debug:before {
  text-align: center;
  background-color: #444;
  color: white;
  font-size: 12px;
  display: block;
  width: 100%;
  content: "xs"; }
  @media (min-width: 576px) {
    body.debug:before {
      content: "sm"; } }
  @media (min-width: 768px) {
    body.debug:before {
      content: "md"; } }
  @media (min-width: 992px) {
    body.debug:before {
      content: "lg"; } }
  @media (min-width: 1200px) {
    body.debug:before {
      content: "xl"; } }

.comp-form-copy {
  /* headlines */
  /*
        lists need work, might need to make md generate span wrappers for each li
        https://stackoverflow.com/questions/4373046/css-control-space-between-bullet-and-li
        */ }
  .comp-form-copy h1 {
    font-size: 3rem; }
  .comp-form-copy h2 {
    font-size: 1.5rem; }
  .comp-form-copy h3 {
    font-size: 1.25rem;
    color: #5376F5;
    margin-top: 3rem; }
  .comp-form-copy h4 {
    font-size: 1.0rem;
    font-weight: bold;
    margin-top: 1.5rem; }
  .comp-form-copy h6 {
    color: #5376F5; }
  .comp-form-copy ul {
    list-style: none;
    padding: 0; }
  .comp-form-copy ul li::before {
    content: "\2022";
    margin-right: 20px;
    color: #5376F5;
    /* or whatever color you prefer */ }
  .comp-form-copy ol {
    padding-left: 20px; }
  .comp-form-copy ol li::before {
    content: "";
    margin-right: 20px;
    display: inline-block; }
  .comp-form-copy hr {
    border: 0;
    border-bottom: 1px solid gray;
    margin-top: 100px; }
    @media (min-width: 992px) {
      .comp-form-copy hr {
        margin-left: calc( (100% + 15px * 2) / -7 * 2 - 15px);
        margin-right: calc( (100% + 15px * 2) / -7 * 3 - 15px); } }

.callout {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 15px 0px 45px;
  overflow: hidden;
  margin-bottom: 16px;
  border-radius: 0 0 5px 5px;
  background: #dde4fd;
  border-top: 5px solid #cfd9fc; }
  .callout h1 {
    font-size: 1.0rem; }
  .callout h1 {
    color: #2b3d7f; }

.callout-accent {
  background: #eaeffe;
  border-top: 5px solid #6f8cf7; }
  .callout-accent h1 {
    color: #2b3d7f; }

.callout-primary {
  background: #e0efff;
  border-top: 5px solid #2990ff; }
  .callout-primary h1 {
    color: #004085; }

.callout-secondary {
  background: #f0f1f2;
  border-top: 5px solid #99a0a7; }
  .callout-secondary h1 {
    color: #464a4e; }

.callout-success {
  background: #e5f4e9;
  border-top: 5px solid #4ab563; }
  .callout-success h1 {
    color: #155724; }

.callout-info {
  background: #e3f4f6;
  border-top: 5px solid #3cb1c3; }
  .callout-info h1 {
    color: #0c5460; }

.callout-warning {
  background: #fff8e1;
  border-top: 5px solid #ffcb2f; }
  .callout-warning h1 {
    color: #856404; }

.callout-danger {
  background: #fbe7e9;
  border-top: 5px solid #e25563; }
  .callout-danger h1 {
    color: #721c24; }

.callout-light {
  background: #fefefe;
  border-top: 5px solid #f9fafb; }
  .callout-light h1 {
    color: #818182; }

.callout-dark {
  background: #e7e7e8;
  border-top: 5px solid #545a5f; }
  .callout-dark h1 {
    color: #1b1e21; }

.bar-callout {
  /* border-left: 3px solid blue; */
  padding-left: 15px;
  position: relative; }

.bar-callout:before {
  content: "";
  position: absolute;
  /* border: 1px solid red; */
  background: blue;
  border-radius: 2px;
  width: 4px;
  left: 0;
  top: 0;
  bottom: 0; }

.bar-callout strong {
  color: blue; }

.sidebar-left {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: calc( (100%) / -7 * 2);
  right: 100%;
  background-color: green; }

.sidebar-right {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 100%;
  width: calc(100% / 7 * 3);
  padding: 15px;
  background-color: gray; }

.sidebar-right.tool {
  margin-top: 2rem;
  background: #EEE;
  border-radius: 10px;
  text-align: center;
  padding: 2rem 0; }
  .sidebar-right.tool p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0; }
  .sidebar-right.tool h1 {
    font-size: 1rem;
    color: #5376F5;
    margin-bottom: 0; }

.slides {
  background: black;
  margin-bottom: 16px; }
  @media (min-width: 992px) {
    .slides {
      margin-left: calc( (100% + 15px * 2) / -7 * 2 - 15px);
      margin-right: calc( (100% + 15px * 2) / -7 * 3 - 15px); } }
  .slides .carousel-inner > .carousel-item {
    height: 500px; }
  .slides .carousel-inner > .carousel-item > img {
    position: absolute;
    max-height: 100%;
    width: auto; }

.topic {
  padding-top: 40px; }

div.js-lab {
  height: 500px;
  outline: 1px solid gray; }
  @media (min-width: 992px) {
    div.js-lab {
      margin-left: calc( (100% + 15px * 2) / -7 * 2 - 15px);
      margin-right: calc( (100% + 15px * 2) / -7 * 3 - 15px); } }

iframe.js-lab {
  border: none;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=styles.css.map*/