.sidebar-left {
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    left: calc( (100%) / -7 * 2);
    right: 100%;
    background-color: green;
}

.sidebar-right {
    background-color: rgba(255, 255, 255, .7);
    position: absolute;
    
    left: 100%;
    width: calc(100% / 7 * 3);
    padding: 15px;
    background-color: gray;
}