@mixin callout-variant($background, $border, $color) {
    background: $background;
    border-top: 5px solid $border;
    h1 {
        color: $color
    }
}

.callout {
    margin-left: -15px;
    margin-right: -15px;

    padding: 15px 15px 0px 45px;
    overflow: hidden; // prevent chlid margin collapse
    margin-bottom: 16px;
    border-radius: 0 0 5px 5px;

    h1 {
        font-size: 1.0rem;
    }

    @include callout-variant(theme-color-level(accent, -10), theme-color-level(accent, -9), theme-color-level(accent, 6));
}

@each $color,
$value in $theme-colors {
    .callout-#{$color} {
        @include callout-variant(theme-color-level($color, -11), theme-color-level($color, -2), theme-color-level($color, 6));
    }
}
