.comp-form-copy {

    /* util */
    .no-margin {
        margin-left: -15px;
        margin-right: -15px;
    }

    .full-width {
        @include full-width;
    }

    .clear {
        clear: both;
    }

    .underline {
        border-bottom: 1px solid;
    }

    /* half */
    @include media-breakpoint-up(sm) {

        .half {
            box-sizing: border-box;
            width: calc((100% - 15px)/2);

            display: block;
            float: left;
            margin-right: 15px;
        }

        .half+.half {
            margin-right: 0;
        }

        .half+.half+* {
            clear: both;
        }
    }


    /* callout */
    .callout {
        padding: 15px;

        background: $light-grey;
        margin-bottom: 10px;
    }

    .callout:not(.full-width) {
        margin-left: -15px;
        margin-right: -15px;
    }

    .callout *:last-child {
        margin-bottom: 0;
    }

    /* activity */
    .activity, .assignment {
        @include color-band($light-grey, $middle-grey);
        @include clearfix;

        margin-top: 90px;
        padding-top: 50px;
        padding-bottom: 50px;

        >h2:first-child {
            margin-top: 0;
            text-align: center;
            color: $dark-grey;

            font-family: "Miriam Libre";
            font-weight: bold;
            font-size: 26px;
            letter-spacing: 0.37px;

            text-transform: none;
        }

        >h2:first-child::before {
            content: "activity";
            display: block;
            margin-bottom: 25px;

            font-size: 10px;
            letter-spacing: 2.41px;

            text-transform: uppercase;
        }

        >h2:first-child+p {
            text-align: center;
            width: 300px;
            margin: 0 auto;
            margin-bottom: 65px;

            font-family: "Roboto";
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.31px;
            line-height: 20px;
        }
    }

    .assignment {
        >h2:first-child::before {
            content: "assigment";
        }

        >h3 {
            font-family: "Miriam Libre";
            font-weight: bold;
            font-size: 10px;
            letter-spacing: 0.04px;

            color: $dark-grey;

            padding-bottom: 3px;
            margin-top: 65px;
            margin-bottom: 18px;

            border-bottom: 0.5px solid $middle-grey;
        }
    }
}
