.comp-form-copy {

    /* util */
    .no-margin {
        margin-left: -15px;
        margin-right: -15px;
    }

    .full-width {
        @include full-width;
    }

    .underline {
        border-bottom: 1px solid $middle-grey;
    }

    .bigger {
        font-family: "Miriam Libre";
        font-size: 1.2em;
    }

    .biggest {
        font-family: "Miriam Libre";
        font-size: 1.5em;
    }




    .center {
        text-align: center;
    }

    /* half */
    .columns {
        @include clearfix;
    }

    .clear {
        clear: both;
    }


    @include media-breakpoint-up(sm) {

        .half {
            box-sizing: border-box;
            width: calc((100% - 30px)/2);

            display: block;
            float: left;
            margin-right: 30px;
        }

        .half+.half {
            margin-right: 0;
        }

        .half+.half+* {
            clear: both;
        }
    }


    /* links */
    // .links>p>a,
    // {
    //     border: 1px solid $middle-grey;
    //     padding: 5px 10px;
    //     display: block;
    //     width: max-content;
    // }
    .boxed a {
        border: 1px solid $middle-grey;
        padding: 5px 10px;
        display: block;
        width: max-content;
        margin-bottom: 10px;
    }

    .boxed.download a:before,
    .boxed.down a:before {
        content: "\f063";
        font-family: FontAwesome;
        margin-right: .5em;
    }

    .boxed.right a:before {
        content: "\f061";
        font-family: FontAwesome;
        margin-right: .5em;
    }










    /* links-sidebar */
    .links-sidebar {
        box-sizing: border-box;
        margin-bottom: 15px;
        @include clearfix;
    }
    .links-sidebar>p,
        {

        float: left;
        margin-right: 15px;

        &:hover {
            background-color: $light-grey;
        }
    }

    .links-sidebar>p>a,
        {

        border: 1px solid $middle-grey;
        padding: 5px 10px;
        display: block;


        text-overflow: ellipsis;
        word-wrap: break-word;
        hyphens: auto;
    }

    .links-sidebar>*:last-child {
        margin-bottom: 0;
    }

    @include media-breakpoint-up(md) {
        .links-sidebar {

            position: absolute;
            left: calc(100% + 15px);
            width: calc(100% / 8 * 2 - 15px);
        }
        .links-sidebar>p {
            float: none;
            margin-right: 0;
        }
    }


    /* callout */
    .callout {
        padding: 15px;
        margin-top: 2em;
        margin-bottom: 2em;
        position: relative;
        &:before {
            content: "";

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            background-color: $light-grey;
            z-index: -100;
        }
    }

    .callout:not(.full-width) {
        margin-left: -15px;
        margin-right: -15px;
    }

    .callout *:last-child {
        margin-bottom: 0;
    }

    .callout h3 {
        margin-top: 0;

    }

    /* activity */
    .activity, .assignment, .discussion {
        @include color-band($light-grey, $middle-grey);
        @include clearfix;

        margin-top: 90px;
        padding-top: 50px;
        padding-bottom: 50px;

        >h2:first-child {
            margin-top: 0;
            text-align: center;
            color: $dark-grey;

            font-family: "Miriam Libre";
            font-weight: bold;
            font-size: 26px;
            letter-spacing: 0.37px;

            text-transform: none;
        }

        >h2:first-child::before {
            content: "activity";
            display: block;
            margin-bottom: 25px;

            font-size: 10px;
            letter-spacing: 2.41px;

            text-transform: uppercase;
        }

        >h2:first-child+p {
            text-align: center;
            width: 300px;
            margin: 35px auto 65px auto;


            font-family: "Roboto";
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 0.31px;
            line-height: 20px;
        }

        code {
            background-color: rgba(0, 0, 0, .1);
        }


        >h3 {
            font-family: "Miriam Libre";
            font-weight: bold;
            font-size: 10px;
            letter-spacing: 0.04px;

            color: $dark-grey;

            padding-bottom: 3px;
            margin-top: 65px;
            margin-bottom: 18px;

            border-bottom: 0.5px solid $middle-grey;
        }
        .js-lab {
            background: #CCC;
            padding: 10px; // border: 10px solid #CCC;
        }
    }

    .assignment {
        >h2:first-child::before {
            content: "assignment";
        }
    }

    .discussion {
        >h2:first-child::before {
            content: "discussion";
        }
    }
}
