@mixin color-band($c: $light-grey, $b: false) {
    position: relative;
    &::before {
        position: absolute;
        background: $c;
        top: 0;
        bottom: 0;
        left: -50vw;
        right: -50vw;
        z-index: -100;
        content: "";

        @if $b {
            border-top: 1px solid $b;
            border-bottom: 1px solid $b;
        }
    }
}


.comp-form {
    overflow-x: hidden;

    #logo {
        position: fixed;
        z-index: 1000;
        top: 16px;
        left: 18px;
        cursor: pointer;
    }


    #top-nav {
        @include color-band($light-grey);


        font-family: "Roboto";
        font-weight: bold;
        font-size: 12px;
        color: $dark-grey;
        letter-spacing: 0.23px; // margin: 0 auto;
        padding-top: 20px; // z-index: 100;
        .buttons {
            float: right;
        }
        .previous {
            margin-right: 5em;
        }
        .previous i {
            margin-right: 7px;
        }
        .next i {
            margin-left: 7px;
        }

        a {
            color: inherit;
        }
    }


    #hero {

        @include color-band($light-grey, $middle-grey);

        &::before {
            border-top: none;
        }

        padding-bottom: 133px;


        h1 {
            font-family: 'Miriam Libre';
            font-weight: bold;
            font-size: 36px;
            color: $dark-grey;
            letter-spacing: 0.56px;
            text-transform: uppercase;
            margin-top: 180px;
        }
        h6 {
            font-family: "Miriam Libre";
            font-weight: bold;
            font-size: 10px;
            color: $dark-grey;
            letter-spacing: 0.04px;
            margin-top: 50px;
            padding-bottom: 3px;
            border-bottom: 1px solid $middle-grey; //rgba($dark-grey, .5);
        }
        .description {
            font-family: "Miriam Libre";
            font-weight: bold;
            font-size: 30px;
            color: $dark-grey;
            letter-spacing: 0.31px;
            line-height: 54px;
            margin-top: 32px;
            margin-bottom: 80px;
        }
        .software {
            font-family: 'Miriam Libre';
            font-weight: light;
            font-size: 24px;
            color: $dark-grey;
            letter-spacing: 0.31px;
            line-height: 54px;
        }
    }


    #scroll-out {
        height: 80vh;
    }
}




.debug {
    .container {
        outline: 1px dotted $debug-blue;
    }
    div[class^="col-"] {
        outline: 1px dotted $debug-red;
    }

    &:before {
        z-index: 1000;
        position: absolute;
        left: 0;
        top: 0;
        background: $debug-blue;
        color: white;
        padding: 3px;
        font-size: 8px;

        @media (min-width: breakpoint-min('xs')) {
            content: "xs";
        }

        @media (min-width: breakpoint-min('sm')) {
            content: "sm";
        }

        @media (min-width: breakpoint-min('md')) {
            content: "md";
        }

        @media (min-width: breakpoint-min('lg')) {
            content: "lg";
        }

        @media (min-width: breakpoint-min('xl')) {
            content: "xl";
        }
    }

    #scroll-out {
        background: rgba($debug-blue, .1);
    }
}
