body.comp-form {
    display: flex;
    flex-wrap: wrap;

    .side-bar {
        display: none;
        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
    .container {
        flex: 1;
    }
}

body.comp-form .side-bar {
    width: 50px;
    border-left: 5px solid white;
    border-right: 5px solid white;

    background-color: #333;
}


.left,
.right {
    z-index: -1;
    visibility: hidden;
    .debug & {
        visibility: visible;
    }
}


body.comp-form .container .header {
    height: 50px;
    border-bottom: 4px solid $accent;
}


.row.scroll-out {
    height: 1000px;
}


.debug {
    .content {
        background: rgba(0, 0, 0, .05);
    }
}

body.debug:before {
    text-align: center;
    background-color: #444;
    color: white;
    font-size: 12px;
    display: block;
    width: 100%;

    @include media-breakpoint-up(xs) {
        content: "xs";
    }

    @include media-breakpoint-up(sm) {
        content: "sm";
    }

    @include media-breakpoint-up(md) {
        content: "md";
    }

    @include media-breakpoint-up(lg) {
        content: "lg";
    }

    @include media-breakpoint-up(xl) {
        content: "xl";
    }
}
