
.callout {
    border-top: 5px solid #D8B549;
    margin-left: -15px;
    margin-right: -15px;
    background: #F9F5EA;
    padding: 15px 15px 1px 45px;
    margin-bottom: 16px;
    border-radius: 0 0 5px 5px;
}



.callout h1 {
    font-size: 1.0rem;
    color: #D8B549;
}