@mixin margin-left-out($current_cols, $add-left-cols, $gutter) {
    margin-left: calc( (100% + #{$gutter} * 2) / -#{$current_cols} * #{$add-left-cols} - #{$gutter});
}

@mixin margin-right-out($current_cols, $add-right-cols, $gutter) {
    margin-right: calc( (100% + #{$gutter} * 2) / -#{$current_cols} * #{$add-right-cols} - #{$gutter});
}



@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
