// bootstrap utilities
@import './bootstrap_breakpoints';
@import './bootstrap_colors';

// custom utilities
@import './layout_utilities';


@mixin full-width {
    @include media-breakpoint-up(md) {
        @include margin-left-out(8, 2, 15px);
        @include margin-right-out(8, 2, 15px);
    }
}



@import './comp_form/comp_form';



table.table-responsive {
    display: table;
}


// js-lab
div.js-lab {
    @include full-width;
}

div.js-lab,
div.js-show {

    height: 500px;
    @include media-breakpoint-down(sm) {
        height: 80vh;
    }
}




iframe.js-lab,
iframe.js-show {
    border: none;
    width: 100%;
    height: 100%;
}
