$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}



@import './bootstrap_colors';
$accent-color: #5376F5;
$theme-colors: map-merge(( accent: $accent-color, gray: gray, pink: #F00, ), $theme-colors);
@import './comp_form/copy';
@import './callout/callout';
@import './bar_callout/bar_callout';
@import './sidebar/sidebar';
@import './slides/slides';
.container {}


// [class^="col"] { outline: 1px dotted rgba(255, 0, 0, 0.3); }


.active {
    outline: 1px solid red;
}

hr {
    margin-left: calc( (100% + 30px) / -7 * 2 - 15px);
    margin-right: calc((100% + 30px) / -7 * 3 - 15px);
    border: 0;
    border-bottom: 1px solid gray;
    margin-top: 100px;
}

.scroll-out
{
    height: 1000px;
}


.content  { background: rgba(0,0,0,.05); }
@include media-breakpoint-up(md) { 
    .container {
        background: rgba(0,0,0,.05);
    }
}

