/* /////////////////////////////////////////
/// Lab
*/

.js-lab {
    margin: 0;

    position: absolute;
    height: 100%;
    width: 100%;
}

@media (max-width: 576px) {

    .js-lab {
        background: pink;
    }
}




.js-lab #editor-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50% - 15px);
    line-height: 20px !important;
    background-color: #F4F3F1;
}

.js-lab #editor {
    background-color: #F4F3F1;
    position: absolute;
    top: 10px;
    bottom: 30px;
    left: 0;
    right: 0;
}


.js-lab #editor .ace_gutter {
    background-color: #F4F3F1;
}

.js-lab #editor .ace_gutter-cell {
    color: #AAA;
}

.js-lab #editor .ace_active-line {
    background-color: rgba(0, 0, 0, .1);
}


.js-lab #reminder {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: calc(50% - 15px);

    padding: 5px 10px;
    background-color: #F4F3F1;

    color: #AAA;
    font-family: Monaco;
    font-size: 10px;
    z-index: 10;

    border-top: 1px solid rgba(0, 0, 0, .1);
}


.js-lab #preview {
    border: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: calc(50% - 15px);
    right: 0;
    background-color: #F4F3F1;
}


.js-lab ::-webkit-scrollbar-track {

    background-color: transparent;
}

.js-lab ::-webkit-scrollbar {

    height: 6px;
}

.js-lab ::-webkit-scrollbar-thumb {

    border-radius: 10px;
    background-color: gray;
}













































/* /////////////////////////////////////////
/// Lab View
*/

@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300');


body.js-lab-view {
    padding: 0;
    margin: 0;
}

.js-lab-view canvas {
    max-width: 100% !important;
    height: auto !important;
}

.js-lab-view div.lab-console {
    /*border: 1px solid red;*/
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 30%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid black;
    background: rgba(0, 0, 0, .4);
    color: white;
    font-family: "Monaco", monospace;
    font-size: 12px;
    line-height: 1.5;
}

.js-lab-view div.lab-console:empty {
    display: none;
}

.js-lab-view span.error {
    color: gray;
}

.js-lab-view span.error b {
    color: red;
}

.cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

    align-items: center;
    justify-content: center;
    font-family: monospace;
    background-color: #F4F3F1;
    color: #AAA;
}

.cover.visible {
    opacity: 100;
}

.cover {
    opacity: 0;
    transition: all .3s;
}










































































































































/* 

.ace-tomorrow,
.ace-scroller {

    background-color: inherit !important;
} 

*/
